.App {
  text-align: center;
}

.Grid-Container{
  height: 450px;
  width: 450px;
  display: inline-flex;
  flex-wrap: wrap;
}

.Grid-Square{
  height: 150px;
  width: 150px;
  background-color: grey;
  margin: 0px;
  padding: 0px;
}

.Grid-Square:hover{
  opacity: 0.5;
}

.Cross{
  height: 150px;
  width: 150px;
  margin: 0px;
  background-image: url('./images/cross.png');
  background-size: cover;
}

.Cross:hover{
  opacity: 0.5;
}

.Naught{
  height: 150px;
  width: 150px;
  margin: 0px;
  background-image: url('./images/naught.png');
  background-size: cover;
}

.Naught:hover{
  opacity: 0.5;
}

.Winner-Text{
  text-transform: capitalize;
}

.Game-Restart-Button{
  font-size: 20px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
